<link rel="stylesheet" href="../../public/css/nav-bar.scss"/>
<link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.css"/>
<nav class="nav">
    <div class="burger">
        <div class="burger__patty"></div>
    </div>

    <ul class="nav__list">
        <li class="nav__item">
            <a href="#1" class="nav__link c-blue"><i class="fa fa-camera-retro"></i></a>
        </li>
        <li class="nav__item">
            <a href="#2" class="nav__link c-yellow scrolly"><i class="fa fa-bolt"></i></a>
        </li>
        <li class="nav__item">
            <a href="#3" class="nav__link c-red"><i class="fa fa-music"></i></a>
        </li>
        <li class="nav__item">
            <a href="#4" class="nav__link c-green"><i class="fa fa-paper-plane"></i></a>
        </li>
    </ul>
</nav>

<script src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="../../node_modules/jquery/dist/jquery.js"></script>
<script src="../../public/js/nav-bar.js"></script>